.custom-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
}
.logout-btn {
  color: #0064ff;
}
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #202632;
  font-weight: 500;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #0064ff;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #e9ecef;
  border-radius: 25px;
  overflow: hidden;
  background-color: transparent;
  transition: width 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
}

.search-form:focus-within {
  width: 250px;
  box-shadow: 0px 0px 8px rgba(0, 100, 255, 0.5);
}

.search-input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  color: #202632;
}

.search-input:focus {
  outline: none;
  background-color: transparent;
}

.search-btn {
  background-color: transparent;
  border: none;
  color: #202632;
  padding: 5px;
}

.search-btn:hover {
  background-color: #f8f9fa;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-btn:hover .fa-search {
  color: #0064ff;
}

.fa-search {
  font-size: 18px;
}
